<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-documents">
    <%= f.text_field :code, placeholder: "Code"%>
  </div>
  <div class="form-documents">
    <%= f.text_field :origin, placeholder: "Origin"%>
  </div>
  <div class="form-documents">
    <%= f.text_field :type, placeholder: "Type"%>
  </div>
  
  <%= f.fields_for :current_version, @document.current_version do |builder| %>
     <div class="form-documents">
       <%= render 'version_fields', f: builder %>
     </div>
  <% end %>

  <div class="form-documents">
    <%= f.submit %>
  </div>
<% end %>
