<!-- Subnavbar -->
<div class="navbar subnavbar">
    <div class="collapse navbar-collapse">
      <!-- Single button -->
      <div class="btn-group mr-btn-new">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
           New <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="<%= new_document_path(doc_type: "doc") %>">Document - Word</a></li>
          <li><a href="<%= new_document_path(doc_type: "excel") %>">Document - Excel</a></li>
        </ul>
      </div> 
    </div>
</div>

<div class="table" >
  <table id="documents" class="table table-hover bg-white">
    <thead>
      <tr class="head-table">
        <th>Status</th>
        <th>Code</th>
        <th>Title</th>
        <th>Origin</th>
        <th>Type</th>
        <th>Number</th>
        <th>Apply date</th>
        <th>Description</th>
        <th>Ubication</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td class="status <%= document.current_version.status %>">
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-ok"></span></a>  
                <ul class="dropdown-menu status-dropdown" role="menu">
                  <% Version.statuses.each do |key, value| %>
                    <li>
                      <%= link_to key.humanize, document_version_status_path(document_id: document.id, version_id: document.current_version.id, status: value), remote: true %>
                    </li>
                  <% end %>
                </ul>  
            </div>
          </td>
          <td><%= document.code %></td>
          <td><%= document.current_version.title %></td>
          <td><%= document.origin %></td>
          <td><%= document.type %></td>
          <td>#<%= document.current_version.number %></td>
          <td><%= document.current_version.application_date %></td>
          <td><%= document.current_version.description %></td>
          <td><%= document.current_version.ubication %></td>
          <td><a href="<%= document.doc_url %>" target="_blank">Show Document</a></td>
          <td><%= link_to 'Show', document %></td>
          <td><%= link_to 'Edit', edit_document_path(document), class: "btn btn-default" %></td>
          <td class="text-white"><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

