<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @document.code %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @document.origin %>
</p>

<p>
  <strong>Type:</strong>
  <%= @document.type %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
